In [1]:
%matplotlib inline
import json
from pandas.io.json import json_normalize
import pandas as pd
import numpy as np
from pprint import pprint
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
weather = pd.read_csv('kyoto_weather.csv')
weather.head()

,Unnamed: 0,Date,Temperature(C),Max_temp,Min_temp,Dew_point,Max_dew_point,Min_dew_point,Pressure,Humidity,Wind,Clouds,Description
0,0,2017-01-01 00:00:00,6,7,4,3.6,4.6,1.6,1028,88,2,75,Clouds
1,1,2017-01-01 01:00:00,7,9,5,4.6,6.6,2.6,1028,88,1,75,Clouds
2,2,2017-01-01 02:00:00,9,10,7,2.0,3.0,0.0,1028,65,1,40,Clouds
3,3,2017-01-01 03:00:00,11,11,10,0.2,0.2,-0.8,1027,46,1,20,Clouds
4,4,2017-01-01 04:00:00,12,12,11,0.6,0.6,-0.4,1026,43,1,20,Clouds

In [3]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17443 entries, 0 to 17442
Data columns (total 13 columns):
Unnamed: 0        17443 non-null int64
Date              17443 non-null object
Temperature(C)    17443 non-null int64
Max_temp          17443 non-null int64
Min_temp          17443 non-null int64
Dew_point         17443 non-null float64
Max_dew_point     17443 non-null float64
Min_dew_point     17443 non-null float64
Pressure          17443 non-null int64
Humidity          17443 non-null int64
Wind              17443 non-null int64
Clouds            17443 non-null int64
Description       17443 non-null object
dtypes: float64(3), int64(8), object(2)
memory usage: 1.7+ MB

In [4]:
weather.corr()

,Unnamed: 0,Temperature(C),Max_temp,Min_temp,Dew_point,Max_dew_point,Min_dew_point,Pressure,Humidity,Wind,Clouds
Unnamed: 0,1.000000,0.180894,0.177235,0.178085,0.202057,0.200864,0.195822,0.057496,0.036553,-0.008404,0.046978
Temperature(C),0.180894,1.000000,0.997719,0.996718,0.897310,0.912871,0.872392,-0.370265,-0.276254,0.173601,0.278415
Max_temp,0.177235,0.997719,1.000000,0.990837,0.882097,0.902572,0.853450,-0.353204,-0.304290,0.179175,0.273358
Min_temp,0.178085,0.996718,0.990837,1.000000,0.910394,0.921897,0.892340,-0.391303,-0.240446,0.166463,0.285866
Dew_point,0.202057,0.897310,0.882097,0.910394,1.000000,0.997171,0.996169,-0.537817,0.176338,0.034882,0.321799
Max_dew_point,0.200864,0.912871,0.902572,0.921897,0.997171,1.000000,0.988720,-0.523444,0.135479,0.045715,0.320387
Min_dew_point,0.195822,0.872392,0.853450,0.892340,0.996169,0.988720,1.000000,-0.553503,0.223564,0.022451,0.324159
Pressure,0.057496,-0.370265,-0.353204,-0.391303,-0.537817,-0.523444,-0.553503,1.000000,-0.345321,-0.119331,-0.179089
Humidity,0.036553,-0.276254,-0.304290,-0.240446,0.176338,0.135479,0.223564,-0.345321,1.000000,-0.311182,0.079799
Wind,-0.008404,0.173601,0.179175,0.166463,0.034882,0.045715,0.022451,-0.119331,-0.311182,1.000000,0.114489
Clouds,0.046978,0.278415,0.273358,0.285866,0.321799,0.320387,0.324159,-0.179089,0.079799,0.114489,1.000000

In [5]:
predictors =['Dew_point', 'Max_dew_point', 'Min_dew_point','Pressure','Wind','Clouds']

X = weather[predictors]
y = weather['Temperature(C)']

In [6]:
# Split the data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.head()

       Dew_point  Max_dew_point  Min_dew_point  Pressure  Wind  Clouds
5689        17.0           18.0           17.0      1014     2       0
5211        23.6           23.6           23.6       989     8      75
13162       22.6           24.6           20.6      1003     4      75
3455        16.4           16.4           16.4      1002     2      75
5118        21.8           22.8           20.8      1005     7      40

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [8]:
# define the model
model = LinearRegression()

# traub the model/ fit the model to the traingin data
model.fit(X_train, y_train)

# predict
y_train_prediction = model.predict(X_train)
y_test_prediction = model.predict(X_test)

In [9]:
model.coef_

array([ 0.88066545,  1.54208939, -1.48381588,  0.14190322,  0.60309179,
       -0.00482177])

In [10]:
pd.DataFrame({"True Temperatures": y_train, "Predicted Temperatures": y_train_prediction}).head()

       True Temperatures  Predicted Temperatures
5689                  30               22.918392
5211                  27               27.282638
13162                 27               31.969787
3455                  21               18.748469
5118                  33               30.454575

In [11]:
# use evaluation metrics to determine model performance
r2_train = r2_score(y_train, y_train_prediction)
r2_test = r2_score(y_test, y_test_prediction)
print("The R^2 score for training data is:", r2_train)
print("The R^2 score for test data is:", r2_test)

The R^2 score for training data is: 0.8927696592268808
The R^2 score for test data is: 0.8957624860872673

In [12]:
# calculate the RMSE
RSME_train = mean_squared_error(y_train, y_train_prediction)**0.5
RSME_test = mean_squared_error(y_test, y_test_prediction)**0.5

print("The RSME for training data is:", RSME_train)
print("The RSME for test data is:", RSME_test)

The RSME for training data is: 3.1575634293834507
The RSME for test data is: 3.1458513897675053

In [13]:
actual_x_predicted = {
    "Actual": y_train,
    "Predicted": y_train_prediction,
    "Error": RSME_train
}
pd.DataFrame(actual_x_predicted).head()

       Actual  Predicted     Error
5689       30  22.918392  3.157563
5211       27  27.282638  3.157563
13162      27  31.969787  3.157563
3455       21  18.748469  3.157563
5118       33  30.454575  3.157563