In [12]:
from sklearn import tree
import pandas as pd
import os

In [13]:
weather = pd.read_csv('kyoto_weather.csv').set_index('Date')
weather.head()

,Temperature(C),Max_temp,Min_temp,Dew_point,Max_dew_point,Min_dew_point,Pressure,Humidity,Wind,Clouds,Description
Date,,,,,,,,,,,
2017-01-01 00:00:00,6,7,4,3.6,4.6,1.6,1028,88,2,75,Clouds
2017-01-01 01:00:00,7,9,5,4.6,6.6,2.6,1028,88,1,75,Clouds
2017-01-01 02:00:00,9,10,7,2.0,3.0,0.0,1028,65,1,40,Clouds
2017-01-01 03:00:00,11,11,10,0.2,0.2,-0.8,1027,46,1,20,Clouds
2017-01-01 04:00:00,12,12,11,0.6,0.6,-0.4,1026,43,1,20,Clouds

In [14]:
# Assign X (data) and y (target)
predictors = ['Temperature(C)','Dew_point','Pressure','Wind','Clouds']
X = weather[predictors]
y = weather["Description"]

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [16]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8456775968814492

In [17]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8736528319192846

In [18]:
sorted(zip(rf.feature_importances_, X), reverse=True)

[(0.5135236774893761, 'Clouds'),
 (0.15776094903527776, 'Dew_point'),
 (0.1290776259279344, 'Temperature(C)'),
 (0.12766435784305158, 'Pressure'),
 (0.07197338970436024, 'Wind')]

In [19]:
predictions = rf.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Rain' 'Clear' 'Clear' 'Clouds' 'Clouds' 'Clouds' 'Clouds' 'Clear'
 'Clouds' 'Clouds']
First 10 Actual labels: ['Clouds', 'Clear', 'Clear', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clear', 'Clouds', 'Clouds']

In [20]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction  Actual
0          Rain  Clouds
1         Clear   Clear
2         Clear   Clear
3        Clouds  Clouds
4        Clouds  Clouds
5        Clouds  Clouds
6        Clouds  Clouds
7         Clear   Clear
8        Clouds  Clouds
9        Clouds  Clouds
10       Clouds  Clouds
11       Clouds  Clouds
12       Clouds  Clouds
13       Clouds  Clouds
14       Clouds  Clouds
15        Clear   Clear
16       Clouds  Clouds
17        Clear   Clear
18       Clouds  Clouds
19       Clouds  Clouds
20       Clouds  Clouds
21       Clouds  Clouds
22       Clouds  Clouds
23         Rain    Rain
24       Clouds  Clouds
25       Clouds  Clouds
26       Clouds  Clouds
27       Clouds  Clouds
28        Clear   Clear
29       Clouds  Clouds
...         ...     ...
4331       Rain    Rain
4332      Clear   Clear
4333      Clear   Clear
4334       Rain  Clouds
4335     Clouds  Clouds
4336     Clouds  Clouds
4337       Rain  Clouds
4338       Rain  Clouds
4339      Clear   Clear
4340     Clouds  Clouds
4341     Clouds    Rain
4342       Rain    Rain
4343      Clear   Clear
4344      Clear   Clear
4345     Clouds  Clouds
4346     Clouds  Clouds
4347     Clouds  Clouds
4348      Clear   Clear
4349     Clouds  Clouds
4350     Clouds    Rain
4351     Clouds  Clouds
4352     Clouds    Rain
4353     Clouds  Clouds
4354     Clouds  Clouds
4355     Clouds    Rain
4356     Clouds  Clouds
4357       Rain    Rain
4358     Clouds  Clouds
4359     Clouds  Clouds
4360       Rain    Rain

[4361 rows x 2 columns]