In [1]:
import numpy as np
import pandas as pd

In [2]:
file = pd.read_csv("features_class_csv/kyoto_class_feat.csv").set_index("Date")
del file["Unnamed: 0"]
file.head()

,Avg_temp,Temp_max,Temp_min,Avg_dwp,Max_dwp,Min_dwp,Pressure,Humidity,Wind,Clouds,...,Humidity_3,Wind_1,Wind_2,Wind_3,Clouds_1,Clouds_2,Clouds_3,Description_1,Description_2,Description_3
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,11,11,10,0.2,0.2,-0.8,1027,46,1,20,...,88.0,1.0,1.0,2.0,40.0,75.0,75.0,Clouds,Clouds,Clouds
2017-01-01,12,12,11,0.6,0.6,-0.4,1026,43,1,20,...,88.0,1.0,1.0,1.0,20.0,40.0,75.0,Clouds,Clouds,Clouds
2017-01-01,12,12,12,0.0,0.0,0.0,1026,40,2,20,...,65.0,1.0,1.0,1.0,20.0,20.0,40.0,Clouds,Clouds,Clouds
2017-01-01,12,13,12,-0.6,0.4,-0.6,1025,37,2,20,...,46.0,2.0,1.0,1.0,20.0,20.0,20.0,Clouds,Clouds,Clouds
2017-01-01,12,13,12,6.8,7.8,6.8,1025,74,2,20,...,43.0,2.0,2.0,1.0,20.0,20.0,20.0,Clouds,Clouds,Clouds

In [3]:
import os
import tensorflow as tf
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense

/anaconda3/envs/PythonData/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [4]:
predictors = ['Pressure_1','Pressure_2', 'Pressure_3', 
             'Humidity_1', 'Humidity_2', 'Humidity_3',
             'Wind_1', 'Wind_2', 'Wind_3', 
             'Clouds_1', 'Clouds_2', 'Clouds_3']

file_2 = file[['Description'] + predictors]

In [5]:
X = file_2[predictors]  
y = file_2['Description']

In [6]:
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

In [ ]:
for label, original_class in zip(encoded_y, y):
    print('Original Class: ' + str(original_class))
    print('Encoded Label: ' + str(label))
    print('-' * 12)

In [7]:
# Split the data into training and testing
from sklearn.model_selection import train_test_split

X_train_df, X_test_df, y_train_df, y_test_df = train_test_split(X,encoded_y, random_state=42)

In [8]:
# Convert the dataframe to a numpy array for Keras
X_train = X_train_df.values
X_train.shape

(13080, 12)

In [9]:
# Read in the training labels as a dataframe

# One-hot encode the integer labels
# 0. "Clear" 
# 1. "Clouds"
# 2. "Fog"
# 3. "Haze"
# 4. "Mist"
# 5. "Rain"
# 6. "Snow"
# 7. "Thunderstorm"
#y_train = to_categorical(y_train_df)
y_train = to_categorical(y_train_df)
y_train.shape

(13080, 8)

In [10]:
# Read the testing data
X_test = X_test_df.values
X_test.shape

(4360, 12)

In [12]:
# One-hot encode the integer labels
y_test = to_categorical(y_test_df)
y_test.shape

(4360, 8)

In [13]:
# Create an empty sequential model
model = Sequential()

In [14]:
# Add the first layer where the input dimensions are the 561 columns of the training data
model.add(Dense(units=100, activation='relu', input_dim=12))
# Add a second hidden layer
model.add(Dense(units=100, activation='relu'))
# The output layer has 8 columns that are one-hot encoded
y_train.shape

(13080, 8)

In [15]:
# Add output layer
model.add(Dense(units=8, activation='softmax'))

In [16]:
# Compile the model using categorical_crossentropy for the loss function, the adam optimizer,
# and add accuracy to the training metrics
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [17]:
# Use the training data to fit (train) the model
model.fit(
    X_train,
    y_train,
    epochs=60,
    shuffle=True,
    verbose=0
)

In [28]:
y_pred = model.predict(X_test)
y_pred[0]

array([0., 0., 0., 1., 0., 0., 0., 0.], dtype=float32)

In [20]:
# Save the model
model.save("keras_class_model.h5")

In [22]:
# Load the model
from keras.models import load_model

voice_model = load_model("keras_class_model.h5")

In [23]:
# Evaluate the model using the training data
model_loss, model_accuracy = model.evaluate(X_test, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Loss: 16.11809539794922, Accuracy: 0.0

In [25]:
# Grab just one data point to test with
test = np.expand_dims(X_test[0], axis=0)
test.shape

(1, 12)

In [29]:
# Make a prediction. The result should be 3 - Haze
print(f"Predicted class: {model.predict_classes(test)}")
print(f"y_test[0]")

Predicted class: [3]
y_test[0]