In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
weather = pd.read_csv('class_df.csv').set_index('Date')
weather.head()

,Mean_temp,Max_temp,Min_temp,Mean_dwp,Max_dwp,Min_dwp,Pressure,Humidity,Wind,Clouds,...,Pressure_3,Humidity_1,Humidity_2,Humidity_3,Wind_1,Wind_2,Wind_3,Clouds_1,Clouds_2,Clouds_3
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,11,11,10,0.2,0.2,-0.8,1027,46,1,20,...,1028.0,65.0,88.0,88.0,1.0,1.0,2.0,40.0,75.0,75.0
2017-01-01,12,12,11,0.6,0.6,-0.4,1026,43,1,20,...,1028.0,46.0,65.0,88.0,1.0,1.0,1.0,20.0,40.0,75.0
2017-01-01,12,12,12,0.0,0.0,0.0,1026,40,2,20,...,1028.0,43.0,46.0,65.0,1.0,1.0,1.0,20.0,20.0,40.0
2017-01-01,12,13,12,-0.6,0.4,-0.6,1025,37,2,20,...,1027.0,40.0,43.0,46.0,2.0,1.0,1.0,20.0,20.0,20.0
2017-01-01,12,13,12,6.8,7.8,6.8,1025,74,2,20,...,1026.0,37.0,40.0,43.0,2.0,2.0,1.0,20.0,20.0,20.0

In [9]:
# Assign X (data) and y (target)
# Assign X (data) and y (target)
predictors =['Mean_temp_1','Mean_temp_2','Mean_temp_3',
             'Max_temp_1','Max_temp_2','Max_temp_3',
             'Min_temp_1','Min_temp_2','Min_temp_3',
             'Mean_dwp_1','Mean_dwp_2','Mean_dwp_3',
             'Max_dwp_1','Max_dwp_2','Max_dwp_3',
             'Min_dwp_1','Min_dwp_2','Min_dwp_3',
             'Clouds_1','Clouds_2','Clouds_3',
             'Humidity_1','Humidity_2','Humidity_3']
X = weather[predictors]
y = weather["Description"]
print(X.shape, y.shape)

(17440, 24) (17440,)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [11]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [12]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [13]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7211009174311926
Testing Data Score: 0.7185779816513761

In [14]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Clouds' 'Clouds' 'Clouds' 'Clouds' 'Clouds' 'Clouds' 'Clouds' 'Clouds'
 'Clouds' 'Clouds']
First 10 Actual labels: ['Rain', 'Clear', 'Clouds', 'Clear', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Rain', 'Clouds']

In [15]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True).head()

  Prediction  Actual
0     Clouds    Rain
1     Clouds   Clear
2     Clouds  Clouds
3     Clouds   Clear
4     Clouds  Clouds