In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
weather = pd.read_csv('kyoto_weather.csv')
weather.head()

,Unnamed: 0,Date,Temperature(C),Max_temp,Min_temp,Dew_point,Max_dew_point,Min_dew_point,Pressure,Humidity,Wind,Clouds,Description
0,0,2017-01-01 00:00:00,6,7,4,3.6,4.6,1.6,1028,88,2,75,Clouds
1,1,2017-01-01 01:00:00,7,9,5,4.6,6.6,2.6,1028,88,1,75,Clouds
2,2,2017-01-01 02:00:00,9,10,7,2.0,3.0,0.0,1028,65,1,40,Clouds
3,3,2017-01-01 03:00:00,11,11,10,0.2,0.2,-0.8,1027,46,1,20,Clouds
4,4,2017-01-01 04:00:00,12,12,11,0.6,0.6,-0.4,1026,43,1,20,Clouds

In [15]:
# Assign X (data) and y (target)
predictors = ['Temperature(C)','Dew_point','Pressure','Wind','Clouds']
X = weather[predictors]
y = weather["Description"]
print(X.shape, y.shape)

(17443, 5) (17443,)

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [17]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [18]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [19]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8334352545482342
Testing Data Score: 0.8346709470304976

In [20]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Clouds' 'Clear' 'Clouds' 'Clear' 'Clouds' 'Rain' 'Clouds' 'Clouds'
 'Clouds' 'Clouds']
First 10 Actual labels: ['Rain', 'Clear', 'Clouds', 'Clear', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Rain', 'Clouds']

In [22]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True).head()

  Prediction  Actual
0     Clouds    Rain
1      Clear   Clear
2     Clouds  Clouds
3      Clear   Clear
4     Clouds  Clouds