In [48]:
from sklearn import tree
import pandas as pd
import os

In [49]:
weather = pd.read_csv('class_df.csv').set_index('Date')
weather.head()

,Mean_temp,Max_temp,Min_temp,Mean_dwp,Max_dwp,Min_dwp,Pressure,Humidity,Wind,Clouds,...,Pressure_3,Humidity_1,Humidity_2,Humidity_3,Wind_1,Wind_2,Wind_3,Clouds_1,Clouds_2,Clouds_3
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,11,11,10,0.2,0.2,-0.8,1027,46,1,20,...,1028.0,65.0,88.0,88.0,1.0,1.0,2.0,40.0,75.0,75.0
2017-01-01,12,12,11,0.6,0.6,-0.4,1026,43,1,20,...,1028.0,46.0,65.0,88.0,1.0,1.0,1.0,20.0,40.0,75.0
2017-01-01,12,12,12,0.0,0.0,0.0,1026,40,2,20,...,1028.0,43.0,46.0,65.0,1.0,1.0,1.0,20.0,20.0,40.0
2017-01-01,12,13,12,-0.6,0.4,-0.6,1025,37,2,20,...,1027.0,40.0,43.0,46.0,2.0,1.0,1.0,20.0,20.0,20.0
2017-01-01,12,13,12,6.8,7.8,6.8,1025,74,2,20,...,1026.0,37.0,40.0,43.0,2.0,2.0,1.0,20.0,20.0,20.0

In [50]:
# Assign X (data) and y (target)
predictors =['Mean_temp_1','Mean_temp_2','Mean_temp_3',
             'Max_temp_1','Max_temp_2','Max_temp_3',
             'Min_temp_1','Min_temp_2','Min_temp_3',
             'Mean_dwp_1','Mean_dwp_2','Mean_dwp_3',
             'Max_dwp_1','Max_dwp_2','Max_dwp_3',
             'Min_dwp_1','Min_dwp_2','Min_dwp_3',
             'Clouds_1','Clouds_2','Clouds_3',
             'Humidity_1','Humidity_2','Humidity_3']
X = weather[predictors]
y = weather["Description"]

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [52]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6825688073394496

In [53]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.781651376146789

In [54]:
sorted(zip(rf.feature_importances_, X), reverse=True)

[(0.1809562051494239, 'Clouds_1'),
 (0.09357158039362445, 'Clouds_2'),
 (0.06649089914124946, 'Clouds_3'),
 (0.06100721666495401, 'Humidity_1'),
 (0.044388972632652866, 'Humidity_2'),
 (0.04197592246323046, 'Humidity_3'),
 (0.04022879779219862, 'Min_dwp_1'),
 (0.0389755189787738, 'Mean_dwp_1'),
 (0.03680557631681813, 'Max_dwp_1'),
 (0.03589125217502354, 'Min_dwp_3'),
 (0.03415435273134809, 'Max_dwp_3'),
 (0.03345652544002845, 'Min_dwp_2'),
 (0.03289352955367339, 'Mean_dwp_3'),
 (0.03125643820033393, 'Max_dwp_2'),
 (0.03111796567459242, 'Mean_dwp_2'),
 (0.025731196074240733, 'Max_temp_1'),
 (0.024753911865107642, 'Mean_temp_1'),
 (0.024317793519277542, 'Min_temp_1'),
 (0.023312405452226157, 'Max_temp_3'),
 (0.0227899932835316, 'Min_temp_3'),
 (0.021654112737886817, 'Mean_temp_3'),
 (0.018567562363918794, 'Max_temp_2'),
 (0.018274789844380614, 'Min_temp_2'),
 (0.017427481551504465, 'Mean_temp_2')]

In [55]:
predictions = rf.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['Clouds' 'Clouds' 'Clouds' 'Clouds' 'Clouds' 'Clouds' 'Rain' 'Rain'
 'Clear' 'Clouds']
First 10 Actual labels: ['Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Mist', 'Rain', 'Rain', 'Clear', 'Clouds']

In [56]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction  Actual
0        Clouds  Clouds
1        Clouds  Clouds
2        Clouds  Clouds
3        Clouds  Clouds
4        Clouds  Clouds
5        Clouds    Mist
6          Rain    Rain
7          Rain    Rain
8         Clear   Clear
9        Clouds  Clouds
10       Clouds  Clouds
11       Clouds  Clouds
12       Clouds  Clouds
13        Clear   Clear
14       Clouds  Clouds
15       Clouds  Clouds
16       Clouds    Rain
17       Clouds  Clouds
18       Clouds  Clouds
19        Clear  Clouds
20       Clouds    Snow
21       Clouds  Clouds
22       Clouds  Clouds
23        Clear   Clear
24       Clouds  Clouds
25       Clouds  Clouds
26       Clouds  Clouds
27       Clouds  Clouds
28       Clouds    Rain
29         Rain    Rain
...         ...     ...
4330     Clouds   Clear
4331       Rain    Rain
4332     Clouds  Clouds
4333       Rain  Clouds
4334     Clouds  Clouds
4335       Rain  Clouds
4336       Rain    Rain
4337     Clouds  Clouds
4338     Clouds  Clouds
4339     Clouds  Clouds
4340       Rain    Rain
4341      Clear   Clear
4342     Clouds  Clouds
4343       Rain    Rain
4344     Clouds  Clouds
4345     Clouds  Clouds
4346      Clear   Clear
4347     Clouds   Clear
4348     Clouds  Clouds
4349     Clouds  Clouds
4350     Clouds  Clouds
4351     Clouds  Clouds
4352     Clouds  Clouds
4353      Clear   Clear
4354       Rain    Rain
4355       Rain    Rain
4356      Clear   Clear
4357       Rain    Rain
4358       Rain    Rain
4359     Clouds  Clouds

[4360 rows x 2 columns]